body {
  padding:20px;
  max-width:1000px;
  margin:auto auto;
  font-family:sans;
}

table {
  width:100%
} th {
  background:#666;
  color:#fff;
} td {
  padding:5px;
}

input {
  width:100%;
  height: 24px;
  font-size: 18px;
  padding:2px;
  border:0;
}

h1 {
  font-weight: normal;
}
